{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-4">
            <center>
                <!--Flash message -->
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
                </div>
                {% endfor %}
                <!-- Login form -->
                {{wtf.quick_form(login_form)}}
            </center>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}