{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <center>
            <h1>Welcome to the pitch app</h1>
            <ol>
                <li>This is where you get to do your one minute pitch!</li>
                <li>View other people's pitches</li>
                <li>Upvote or Downvote other people's pitches</li>
                <li>Sign in to leave a comment</li>
                <li>Leave a comment on different pitches and leave feedback</li>
                <li>Receive a welcoming email once signed up</li>
                <li>view the pitches you have created in your profile page</li>
                <li>Submit a pitch in any category</li>
                <li>View pitches in different categories</li>
            </ol>
        </center>
    </div>
{% endblock %}